<h4>Sign up</h4>


    <h3><%= flash[:error] %></h3>
   
<h2>
<%= form_for @person do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %> 
        
  <%= f.label :password %>
  <%= f.text_field :password %>
  
  <%= f.submit %>
  </h2>
<% end %>