<% if @person.username %>
Username: <%= @person.username %>


    
    <h3>Choose A Topic To See Your Notes/</h3>
    
    <%@topics.each do |object|%>
        
        <h2><li><%=link_to object.label, topic_path(object)%></li></h2>
        
<%end%>

    <h2>Create A New Topic/Create A New Note</h2>
   <h2> <%=link_to 'Create New Topic', new_topic_path%>/<%=link_to 'Create New Note', new_note_path%></h2>
    
    
    <h2></h2>
    <h2></h2>
    
    
    <h1></h1>

<%end%>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h2>Emergency Only, Delete Account And Data<%= button_to 'DELETE', '/people/:id', method: :delete%></h2>
    <h2>To Logout Press Here<%= button_to 'Logout', '/logout', method: :delete%></h2>